﻿body {
    background-image: url("img/dust_scratches.png");
    font-family: 'Lato', sans-serif !important;
    font-size: 23px !important;
}

#nav {
    height: 40px;
}

#mainContainer {
    width: 900px;
    margin-top: 100px; /*do usunięcia po ustawieniu wyrównania vertical w bootsrtap*/
}

#sideHeader {
    color: #cb0206;
}

thead > tr > td {
    background-color: #0e71bb !important;
    color: white;
}

tbody > tr > th, 
tbody > tr > td {
    border-style: none;
}

tbody > tr:hover {
    color: #0e71bb !important;
    background-color: none !important;
    border-style: none solid;
    border-width: 2px;
    border-color: #0e71bb;
    transform: scale(1.01);
}

.btn-outline-primary {
    color: #0e71bb !important;
    border: 1px solid #0e71bb !important;
    margin-right: 3px;
}

    .btn-outline-primary:hover,
    .btn-outline-primary:focus {
        background-color: #0e71bb !important;
        color: white !important;
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        text-align: center !important;
    }

.btn:hover,
.btn:focus {
    transform: scale(1.08);
    transition: all 235ms ease-in-out;
}

#employeeModal{
    font-size: 16px;
}

/*@media screen and (max-width: 768px) {
    .container {
        margin-top: 100px;
    }
}*/

#spinnerContent {
    background-color: rgba(0,0,0,0.0) !important;
    border: none !important;
}

path {
    stroke: #B22222;
    fill: none;
    stroke-width: 1;
}

.path1 {
    stroke-dasharray: 170, 180;
    animation: pulse 3.5s infinite linear;
}

@keyframes pulse {
    0% {
        stroke-dashoffset: 350;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 170, 180;
    animation: pulse2 3.5s infinite linear;
}

@keyframes pulse2 {
    0% {
        stroke-dashoffset: 200;
    }

    100% {
        stroke-dashoffset: 175;
    }
}

#scrollButton {
    right: 20px !important;
    bottom: 20px !important;
    background-color: #0e71bb;
    border-color: #0e71bb;
}

#scrollUpDiv {
    position: fixed;
    right: 20px;
    bottom: 20px;   
}

    #scrollUpDiv :hover {
        background-color: #cb0206;
        border-color: #cb0206;
    }