﻿body {
    background-image: url("img/dust_scratches.png");
    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
}

#nav
{
    height: 40px;
}
.container{
    width: 900px;    
}

.row {
    height:97vh;
}

#rightDiv {
    border-left-style: solid;
    border-left-color: #0e71bb;
    border-left-width: 2px;
}

.btn-outline-primary {
    color: #0e71bb !important;
    border-color: #0e71bb !important;
}

.btn-outline-primary:hover {
    background-color: #0e71bb !important;
    color: white !important;   
}

.groupBtn {
    width: 600px !important;
}



