﻿body{
    background-image: url("img/dust_scratches.png");
    font-family: 'Lato', sans-serif !important;
    font-size: 23px !important;
}

#nav {
    height: 40px;
}

.container {
    width: 900px;
}

#leftMenu{
    width: 200px;
}

p.h3 {
    color: #0e71bb !important;
    font-weight: 700;
}

h5 {
    margin-bottom: 0px !important;
    color: #B22222;
    font-size: 19px !important;
}

#dateFrom, #dateTo {
    border-color: #0e71bb;
}

label {
    color: #0e71bb;
}

#sideHeader {
    color: #cb0206;
}

.btn-outline-primary {
    color: #0e71bb !important;
    border-color: #0e71bb !important;
}

    .btn-outline-primary:hover {
        background-color: #0e71bb !important;
        color: white !important;
    }

.groupBtn {
    width: 350px !important;
}

#chartHeader {
    color: #B22222;
}

#spinnerContent {
    background-color: rgba(0,0,0,0.0) !important;
    border: none !important;
}

path {
    stroke: #B22222;
    fill: none;
    stroke-width: 1;
}

.path1 {
    stroke-dasharray: 170, 180;
    animation: pulse 3.5s infinite linear;
}

@keyframes pulse {
    0% {
        stroke-dashoffset: 350;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.path2 {
    stroke-dasharray: 170, 180;
    animation: pulse2 3.5s infinite linear;
}

@keyframes pulse2 {
    0% {
        stroke-dashoffset: 200;
    }

    100% {
        stroke-dashoffset: 175;
    }
}
